#main-background {

    position: absolute;
    width: 550px;
    height: 450px;
    left: 100px;
    top: 64px;
      margin: auto;
     margin-top: 10px;
     margin-bottom: 10px;
     padding: 50px;
     border: 2px solid #00a870;
    
    background: #1F2937;
      color: white;
     }
    
#text-2 {
        color: #00a870;
        }
    
#text-3 {
        color: #D5D4D8;
        margin: 10px 0px 30px 0px;
        }
    
    /* Button */
#genPass-el {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
     color: white;
     font-size: 16px;
     
    
    position: absolute;
    width: 223px;
    height: 42px;
    left: 52px;
    top: 287px;
    
    background: #10B981;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
      
      
    }
    
p{
    
    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 208px;
    
    /* text-xl/leading-7/font-normal */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    
    color: #D5D4D8;
    }

hr {
        border: 1px solid #2F3E53;
        margin: 50px 0px;
    }

 #password1-el{
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 399px;
    
    background: #273549;
    border-radius: 6px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;

text-align: center;

color: #55F991;

    }
    
#password2-el{
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 399px;
    
    background: #273549;
    border-radius: 6px;

    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;

text-align: center;

color: #55F991;
    }
    
#password3-el{
      position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 465px;
    
    background: #273549;
    border-radius: 6px;

    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */
text-align: center;

color: #55F991;

    }

#password4-el{
        position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 465px;
    
    background: #273549;
    border-radius: 6px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;

    text-align: center;

    color: #55F991;

    }

